.section-trick {
  display: flex;

  .section-trick-left {
    margin: 0 3rem 3rem 3rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .section-trick-right {
    margin: 0 3rem 3rem 3rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: grey solid 1px;
    border-left: grey solid 1px;

    p, h5 {
      width: 80%;
      text-align: justify;
      white-space: pre-wrap;
    }
  }
}

.section-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  .media-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img, video, iframe {
      border-radius: 10px;
    }
  }
}

.message-list {
  display: flex;
  flex-direction: column;

  .message-block {
    display: flex;
    flex-direction: row;

    .message-author {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 8rem;

      h5 {
        margin: 0;
      }

      img {
        margin: 0.5rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    .message-content {
      border-radius: 4px;
      width: 100%;
      border: grey solid 1px;
      margin: 1rem;
      padding-left: 0.5rem;
      background-color: whitesmoke;

      p {
        white-space: pre-wrap;
      }
    }
  }
}