.form-type {

  input[type=text], input[type=number], input[type=email], input[type=password],
  input[type=file], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type=radio] {
    width: auto;
    margin: 8px;
  }

  button {
    margin-top: 1rem;
  }

  li {
    text-decoration: none;
  }
}
