@use '../abstracts/variables';
@use '../abstracts/mixins';

#main-footer {
  background-color: variables.$color-secondary;
  box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  .fa {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .container-footer-logo {
      clip-path: ellipse(50% 33%);
      background-color: white;

      img {
        max-height: 150px;
        max-width: 150px;
        clip-path: ellipse(50% 33%);
      }
    }

    .container-footer-links {
      display: flex;

      .link-content {

        ul {
          display: flex;
          flex-direction: column;

          li {
            display: flex;

            a {
              margin: 0.5rem;
              padding: 1rem;
              color: white;
              text-decoration: none;
              transition: color 0.5s;

              &:hover {
                color: variables.$color-tertiary;
              }
            }
          }
        }
      }
    }

    .container-footer-social-networks {
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
        display: inline-block;
        padding: 1rem;
        color: white;
        text-decoration: none;
        transition: color 0.5s;

        &:hover {
          color: variables.$color-tertiary;
        }
      }
    }
  }
}


