@use '../abstracts/variables';
@use '../abstracts/mixins';

#main-header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: variables.$color-secondary;
  box-shadow: 0 5px 30px rgba(0, 22, 84, 0.1);

  //&.site-header--small {
  //  .container-header {
  //
  //    .container-logo {
  //      position: relative;
  //    }
  //  }
  //}

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  .fa {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container-header-middle {
      position: relative;
      width: 200px;
    }

    .container-header-left {
      width: 50%;
    }

    .container-header-right {
      width: 50%;
    }

    .container-logo {
      position: absolute;
      top: -100px;
      clip-path: ellipse(50% 33%);
      background-color: white;
      //border: thick double variables.$color-primary;

      img {
        max-width: 200px;
        clip-path: ellipse(50% 33%);
      }
    }

    .container-header-left, .container-header-right {
      position: relative;
      flex-grow: 1; // element take all the available space
      display: flex;
      justify-content: space-around;
      align-items: center;

      ul {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;

        li {

          a {
            display: inline-block;
            padding: 1rem;
            color: white;
            text-decoration: none;
            transition: color 0.5s;

            &:hover {
              color: variables.$color-tertiary;
            }
          }
        }
      }

      .title-welcome {
        position: absolute;
        top: 0.01rem;
        left: 0.01rem;
        color: white;
      }
    }
  }

}

@include mixins.desktop-large {
  .container {
    width: 992px;
  }


}

@include mixins.desktop {
  .container {
    width: 576px;
  }

  span {
    display: none;
  }

}

@include mixins.smartphone {
  .container {
    width: 100%;
  }
  span {
    display: none;
  }
}
