{% extends 'base.html.twig' %}

{% block title %}New Trick{% endblock %}

{% block body %}
    <div class="section section-post-header">

        <div class="container">

            <h1>Créer un trick</h1>

            <div class="form-type">
                {{ include('trick/_form.html.twig') }}
            </div>

            <a href="{{ path('app_trick_index') }}">back to list</a>
        </div>

    </div>
{% endblock %}
